In [1]:
%load_ext autoreload
%autoreload 2

import main as m
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
R = 8.314 # J/K. mol

In [2]:
n = 10000
Ca = m.generate_values(2e3, 3e3, n)
Cb = m.generate_values(2e3, 3e3, n)
T = m.generate_values(50+273, 100+273, n)
Q = m.generate_values(8e-3, 8.5e-3, n)

data = pd.DataFrame()
data['Cae'] = Ca
data['Cbe'] = Cb
data['Cce'] = 0
data['Cde'] = 0
data['T'] = T
data['Q'] = Q
C = ['Cae', 'Cbe', 'Cce', 'Cde']

In [18]:
Ea = 83680
k0 = .26e11
V = 200e-3 # m³

data['k1'] = m.cte_taxa(T, k0, Ea, R)
data['k2'] = m.cte_taxa(T, .1e7, Ea/1.3, R)

In [20]:
out = m.ss_solve(data[C], data['k1'], data['k2'], data['Q'], V)

In [21]:
out

              Ca          Cb           Cc           Cd
0     270.396008  546.285072  2283.504950  2283.504950
1     701.488110  204.209542  2104.344552  2104.344552
2     441.665628  216.664402  2117.630317  2117.630317
3     135.979806  582.102526  1888.116356  1888.116356
4     132.455175  771.969652  1899.125992  1899.125992
...          ...         ...          ...          ...
9995  563.218461  305.418725  1677.120338  1677.120338
9996  356.641254  257.462233  2084.054271  2084.054271
9997  373.759530  566.698915  1887.377540  1887.377540
9998  573.141485  247.798917  2065.511768  2065.511768
9999  953.321441  188.748960  1842.741949  1842.741949

[10000 rows x 4 columns]

In [22]:
data1 = data.join(out)
data1.to_csv(f'data_Ea{Ea}_k0{k0}_V{V}_K2.csv')